################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ScrapperConsole/FileContentIndex/06e393d3-e6da-44bb-8856-7071fa865df5.vsidx
/.vs/ScrapperConsole/FileContentIndex
